@import 'core/mixins';
@import 'core/variables';

@import 'components/buttons';
@import 'components/forms';
@import 'components/typography';

body {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 35px;
}

fieldset {
    border: 0;
}

@media all and (min-width:768px) {
    .wrapper {
        margin: 0 174px;
    }
}

//HOME
@import 'layout/header';
@import 'layout/main-home';
@import 'layout/footer';


//CARD
@import 'layout/header-card';
@import 'layout/design';
@import 'layout/fill';
@import 'layout/share';
@import 'layout/preview';
@import 'layout/footer-card';