<section class="wrapper design">
  <div class="design__container__title">
    <div class="design__container__title1">
      <img
        class="design__icon"
        src="http://via.placeholder.com/21x18"
        alt="design image"
      />
      <h2 class="design__title">DISEÑA</h2>
    </div>
    <div class="design__container__title2">
      <img src="http://via.placeholder.com/16x18" alt="arrow" />
    </div>
  </div>
  <div class="design__container__form">
    <h3 class="design__subtitle">COLORES</h3>
    <form action="" method="post">
      <div class="design__form design__form-blue">
        <label class="hide" for="blue palette"> blue palette</label>
        <input
          id="blue palette"
          type="radio"
          name="palette"
        />
        <ul class="theme">
          <li class="theme__color" style="background-color: #114e4e"></li>
          <li class="theme__color" style="background-color: #438792"></li>
          <li class="theme__color" style="background-color: #a2deaf"></li>
          </ul>
      </div>
      
      <div class="design__form design__form-red">
        <label class="hide" for="red palette"> Red palette </label>
        <input
          id="red palette"
          type="radio"
          value="red palette"
          name="palette"
        />
        <ul class="theme">
          <li class="theme__color" style="background-color:#420101"></li>
          <li class="theme__color" style="background-color:#bd1010"></li>
          <li class="theme__color" style="background-color:#e95626"></li>
        </ul>
        </div>
      

      <div class="design__form design__form-grey">
        <label class="hide" for="grey palette"> grey palette </label>
        <input
          id="grey palette"
          type="radio"
          value="grey palette"
          name="palette"
        />
        <ul class="theme">
          <li class="theme__color" style="background-color:#3e5b65"></li>
          <li class="theme__color" style="background-color:#dfe5eb"></li>
          <li class="theme__color" style="background-color:#a0c0cf"></>
        </ul>
      </div>
    </form>
  </div>
</section>
