<div class="design">
  <div class="design__container__title">
    <div class="design__container__title1">
        <img class="design__image"
        src="http://via.placeholder.com/21x18" alt="design image" />
        <h2 class="design__title">DISEÑA</h2>
    </div>
    <div class="design__container__title2">
    <img src="http://via.placeholder.com/16x18" alt="arrow" />
</div>
  </div>
  <div class="design__container__form">
  <h3 class="design__subtitle">COLORES</h3>
  <form action="" method="post">
    <div class="design__form design__form-blue">
      <label class="hide" for="blue palette"> blue palette</label>
        <input
          id="blue palette"
          type="radio"
          value="blue palette"
          name="blue palette"
        >
        <div class="theme">
                <div class="theme__color" style="background-color: #114e4e"></div>
                <div class="theme__color" style="background-color: #438792"></div>
                <div class="theme__color" style="background-color: #a2deaf"></div>
              </div>
    </div>
    <div class="design__form design__form-red">
            <label class="hide" for="red palette"> Red palette </label>
              <input
                id="red palette"
                type="radio"
                value="red palette"
                name="red palette"
              >
              <div class="theme">
                    <div class="theme__color" style="background-color:#420101"></div>
                    <div class="theme__color" style="background-color:#bd1010"></div>
                    <div class="theme__color" style="background-color:#e95626"></div>
                  </div>
          </div>

          <div class="design__form design__form-grey">
                <label class="hide" for="grey palette"> grey palette </label>
                  <input
                    id="grey palette"
                    type="radio"
                    value="grey palette"
                    name="grey palette"
                  >
                  <div class="theme">
                        <div class="theme__color" style="background-color:#3e5b65"></div>
                        <div class="theme__color" style="background-color:#dfe5eb"></div>
                        <div class="theme__color" style="background-color:#a0c0cf"></div>
                      </div> 
              </div>
  </form>
</div>
</div>
