<fieldset class="section__fill">
    <legend class="hide">Sección de rellena</legend>
    <div class="fill__container-title">
        <div class="fill__container_img-keyboard">
            <i class="far fa-keyboard fill__img-keyboard"></i>
        </div>
        <h2 class="fill__title">Rellena</h2>
        <div class="fill__container_img-arrow">
            <i class="fas fa-chevron-up fill__img-arrow"></i>
        </div> 
    </div>
    <div class="fill__form">
        <div class="form__container-name">
            <label class="form_title" for="name">Nombre completo</label>
            <input class="form_field" type="text" name="name" id="name" placeholder="Ej: Sally Jill">
        </div>
        <div class="form__container-job">
            <label class="form_title" for="job">Puesto</label>
            <input class="form_field" type="text" name="job" id="job" placeholder="Ej: Front-end unicorn">
        </div>
        <div class="form__container-photo">
            <label class="form_title-photo" for="photo">Imagen de perfil</label>
            <input class="form_field-photo js__profile-upload-btn" type="file" name="photo" id="photo">
            <div class="form__container-btn">
                <button type="button" class="form__btn js__profile-trigger">Añadir imagen</button>
                <div class="form__photo-preview js__profile-preview"></div>
            </div>
        </div>
        <div class="form__container-email">
            <label class="form_title" for="email">Email</label>
            <input class="form_field" type="email" name="email" id="email" placeholder="Ej: sally-hill@gmail.com">
        </div>
        <div class="form__container-phone">
            <label class="form_title" for="phone">Teléfono</label>
            <input class="form_field" type="tel" name="phone" id="phone" placeholder="Ej: 555-55-55-55">
        </div>
        <div class="form__container-linkedin">
            <label class="form_title" for="linkedin">Linkedin</label>
            <input class="form_field" type="text" name="linkedin" id="linkedin" placeholder="Ej: linkedin.com/in/sally.hill">
        </div>
        <div class="form__container-github">
            <label class="form_title" for="github">Github</label>
            <input class="form_field" type="text" name="github" id="github" placeholder="Ej: @sally-hill">
        </div>
    </div>   
    <hr class="line"/>   
</fieldset>
