<main class="home">
    <div class="home__wrapper home__main-wrapper">
        <h1 class="home__title">Crea tu tarjeta de visita</h1>

        <h2 class="home__subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</h2>

        <ul class="home__list">
            <li class="home__list-item">
                <i class="home__list-image far fa-object-ungroup"></i>
                <p class="home__list-text">Diseña</p>
            </li>

            <li class="home__list-item">
                <i class="home__list-image far fa-keyboard"></i>
                <p class="home__list-text">Rellena</p>
            </li>

            <li class="home__list-item">
                <i class="home__list-image fas fa-share-alt"></i>
                <p class="home__list-text">Comparte</p>
            </li>
        </ul>
        
        <a class="home__button" href="card.html"><span class="home__button-text">Comenzar</span></a>
    </div>
</main>