<section class="preview">
    <div class="preview__card">
        <div class="preview__card--top">
            <button class="preview__reset">
                <p class="preview__trash"><i class="far fa-trash-alt"></i> reset</p>
            </button>
            <div class="preview__card--bar"></div>
            <div class="preview__card--text">
                <h2 class="preview--h2">nombre apellido</h2>
                <h3 class="preview--h3">front-end developer</h3>
                <div class="preview__card--bar"></div>
            </div>
        </div>
        <div class="preview__card--image"><img class="image-access" src="" alt="tu foto"></div>
        <div class="preview__card--bottom">
            <ul class="preview__card--sm">
                <li class="sm telephone">
                    <a class="sm-link" href="#"><i class="fas fa-mobile-alt"></i><span class="access">contactar por
                            teléfono</span></a>
                </li>
                <li class="sm mail">
                    <a class="sm-link" href="#"><i class="far fa-envelope"></i><span class="access">contactar por
                            email</span></a>
                </li>
                <li class="sm linkedin">
                    <a class="sm-link" href="#"><i class="fab fa-linkedin-in"></i><span class="access">contactar por
                            linkedin</span></a>
                </li>
                <li class="sm github">
                    <a class="sm-link" href="#"><i class="fab fa-github-alt"></i><span class="access">contactar por
                            github</span></a>
                </li>
            </ul>
        </div>
        </div>
        </div>

</section>