<div class="preview">
    <div class="preview__card">
        <div class="preview__card--reference">
            <button class="preview__reset">
                <p class="preview__trash"><i class="far fa-trash-alt"></i> reset</p>
            </button>
            <img class="preview__card--image" src="../assets/images/gameofcodes.jpg" alt="tu foto">
            <div class="preview__card--bar"></div>
            <div class="preview__card--text">
                <h2 class="preview--h2">nombre apellido</h2>
                <h3 class="preview--h3">front-end developer</h3>
            </div>
            <ul class="preview__card--sm">
                <li class="sm telephone">
                    <i class="fas fa-mobile-alt"></i>
                    <a href="#"></a>
                </li>
                <li class="sm mail">
                    <i class="far fa-envelope"></i>
                    <a href="#"></a>
                </li>
                <li class="sm linkedin">
                    <i class="fab fa-linkedin-in"></i>
                    <a href="#"></a>
                </li>
                <li class="sm github">
                    <i class="fab fa-github-alt"></i>
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>