<fieldset class="share__section">
    <legend class="hide">Sección de compartir</legend>
    <div class="share__section">
        <div class="share__card">
            <p class="share__title">
                <i class="share__icon fas fa-share-alt"></i>comparte
            </p>
            <div class="arrow-wrapper">
                <i class="fas fa-chevron-down"></i> 
            </div>
        </div>
        <hr class="line share-line1"/>   
        <div class="share__btn--wrapper">
            <button type="submit" class="share__btn--create"><i class="far fa-address-card"></i>Crear tarjeta</button>
        </div>
        <hr class="line share-line2"/>   

    </div>
    <div class="share__info--wrapper">
        <p class="share__paragraph">La tarjeta ha sido creada:</p>
        <a class="share__link--cards link" href="">https://awesome-profile-card.com?id=A456DF0001</a>
        <a href="" class="share__btn--twitter link"><i class="fab fa-twitter"></i>Compartir en twitter</a>
    </div>
</fieldset>