<fieldset class="share__section">
    <legend class="hide">Sección de compartir</legend>
    <div class="share__section js-container js-container-hidden">
            <div class="share__card js-container-title">
                <p class="share__title">
                    <i class="share__icon fas fa-share-alt"></i>comparte
                </p>
                <div class="arrow-wrapper container-arrow">
                    <i class="fas fa-chevron-up"></i>
                </div>
            </div>
        <div class="share__btn--wrapper js-container-panel">
            <button type="submit" class="share__btn--create"><i class="far fa-address-card"></i>Crear tarjeta</button>
        </div>
        
    </div>
    <div class="share__info--wrapper hidden">
        <p class="share__paragraph">La tarjeta ha sido creada:</p>
        <a class="share__link--cards link" href=""></a>
        <a href="" class="share__btn--twitter link"><i class="fab fa-twitter"></i>Compartir en twitter</a>
    </div>
</fieldset>