<div class="share__section">
    <div class="share__card">
        <div class="share__card--reference">
            <i class="share__icon link fas fa-share-alt"></i>
            <a class="share__title link" href="">comparte</a>
            <i class="share__arrow link fas fa-chevron-down"></i>
        </div>
        <div class="share__btn--wrapper">
            <button class="share__btn--create">Crear tarjeta</button>
        </div>
    </div>
    <div class="share__info--wrapper">
    <p class="share__paragraph">La tarjeta ha sido creada:</p>
    <a class="share__link--cards link" href="">https://awesome-profile-card.com?id=A456DF0001</a>
    <button class="share__btn--twitter"><i class="fab fa-twitter"></i>Compartir en twitter</button>
</div>
</div>
