

.link {
  text-decoration: none;
}

.share__line {
  height: 1px;
  border-bottom: solid 1px #d8d8d8;
}
.share__btn--wrapper {
  width: 100%;
  height: 90px;
  padding-top: 20px ;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;

}
.share__btn--create {
  width: 199px;
  height: 50px;
  border-radius: 12px;
  text-transform: uppercase;
  background-color: $color-orange;
  font-size: 18px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  border: none;
  cursor: pointer;
  
}

.share__btn--create:active {
  background-color: #d5d5d5;
}

.share__title {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
}
.share__icon {
  width: 16px;
  height: 18px;
  margin-right: 10px;
  color: $color-orange;
}
.share__card {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s;
}
.arrow-wrapper {
  display: flex;
  align-items: center;
  color: #54585a;
  z-index: 99999; 
}
.share__arrow {
  width: 16px;
  height: 18px;
  margin-left: 35px;
  color: #54585a;
}

.share__info--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: solid 1px #d8d8d8;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;

  
}
.share__paragraph {
  color: #54585a;
  text-align: center;
  margin-top: 0;
  padding-top: 30px;
  margin: 5px;
}
.share__link--cards {
  color: $color-orange;
  font-size: 12px;
}
.share__btn--twitter {
  background-color: #00a0f5;
  width: 181px;
  height: 30px;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  border: none;
  color: white;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 30px;
  font-weight: lighter;
}
.fa-twitter {
  width: 18px;
  height: 18px;
  padding-right: 8px;
}
.fa-address-card {
  padding-right: 8px;
}
