@mixin footer-copy() {
    font-family: $font-default;
    font-size: 14px;
    line-height: 1.43;
    color: $color-grey;
}

@mixin home-title() {
    font-family: $font-title-home;
    font-size: 19.2px;
    color: $color-orange;
    text-align: center;
}

@mixin home-subtitle() {
    font-family: $font-default;
    font-size: 12.8px;
    color: $color-dark-blue;
    text-align: center;
}

@mixin home-iconLabel() {
    font-family: $font-default;
    text-align: center;
    color: $color-dark-grey;
    font-size: 13px;
}

@mixin home-button() {
    font-family: $font-default;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}