@mixin home-title() {
    font-family: $font-title-home;
    font-size: 19px;
    color: $color-orange;
    text-align: center;

    @media all and (min-width: 768px) {
        font-size: 24px;
    }
}

@mixin home-subtitle() {
    font-family: $font-default;
    font-size: 13px;
    color: $color-dark-blue;
    text-align: center;
    @media all and (min-width: 768px) {
        font-size: 16px;
    }
}

@mixin home-iconLabel() {
    font-family: $font-default;
    text-align: center;
    color: $color-dark-grey;
    font-size: 13px;
    @media all and (min-width:768px) {
        font-size: 16px;
    }
}

@mixin home-button() {
    font-family: $font-default;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

@mixin footer-copy() {
    font-family: $font-default;
    font-size: 14px;
    line-height: 1.43;
    color: $color-grey;
}
